<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {#<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>#}
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Utilisateurs </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="{{ path('admin_users_new') }}" class="sidebar-link"><i class="fa fa-plus"></i><span class="hide-menu"> Ajouter </span></a></li>
                            <li class="sidebar-item"><a href="{{ path('admin_users_index') }}" class="sidebar-link"><i class="fa fa-list"></i><span class="hide-menu"> Tous </span></a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if (is_granted('ROLE_FOURNISSEUR')) %}
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-capsules"></i><span class="hide-menu">Médicaments </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="{{ path('fournisseur_medicaments_new') }}" class="sidebar-link"><i class="fa fa-plus"></i><span class="hide-menu"> Ajouter </span></a></li>
                            <li class="sidebar-item"><a href="{{ path('fournisseur_medicaments_index') }}" class="sidebar-link"><i class="fa fa-list"></i><span class="hide-menu"> Tous </span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('commandes_pharmacies') }}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Commandes</span></a></li>
                {% endif %}
                {% if (is_granted('ROLE_PHARMACIE_CLIENT')) %}
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('commandes_clients') }}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Commandes</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('medicaments_pharmacies') }}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Médicaments</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>