{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des fournisseurs</h1>
    <div class="text-right">
     <a href="{{ path('fournisseurs_new') }}" class="btn btn-default" style="margin-bottom: 20px;">Nouveau</a>
     </div>
    <table class="table table-bordred">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td><a href="{{ path('fournisseurs_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.prenom }}</td>
                <td>
                 <a href="{{ path('fournisseurs_show', { 'id': fournisseur.id }) }}" class="btn btn-primary">show</a>
                 <a href="{{ path('fournisseurs_edit', { 'id': fournisseur.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
